name: pixelaro
description: A modern, cross-platform image editor.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  google_fonts: ^6.1.0
  gap: ^3.0.0
  
  pro_image_editor: ^5.0.0 
  file_picker: ^8.0.0
  path_provider: ^2.1.2
  
  desktop_drop: ^0.4.4 
  
  url_launcher: ^6.2.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  flutter_launcher_icons: ^0.14.3

flutter:
  uses-material-design: true
  assets:
    - assets/

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/logo.png"
  web:
    generate: true
    image_path: "assets/logo.png"